.fa:before, .icofont:before {
  display: none;
  opacity: 0;
}
.fa, .icofont{
  line-height: 1;
}
.lnk-head i/*,.ucp-rightcol table i*/{
  display: none !important;
}

.fa, .icofont, .signature-block-in h6 u,.quote-block-in:after {
  background-image: url(img/img_01.png);
  background-position: 100px 100px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}


/*=====================*/
.ucp-rightcol-in i{
  width: 18px;height: 18px;
}
.ucp-rightcol-in .fa-gear{
  background-position: -196px -201px;
}
.ucp-rightcol-in .fa-user{
  background-position: -220px -201px;
}
.ucp-rightcol-in .fa-edit{
  background-position: -240px -201px;
}
.ucp-rightcol-in .fa-user-secret{
  background-position: -260px -201px;
}
.ucp-rightcol-in .fa-photo{
  background-position: -285px -201px;
}
.ucp-rightcol-in .fa-share-alt{
  background-position: -308px -201px;
}
.ucp-rightcol-in .fa-address-card-o{
  background-position: -329px -201px;
}
.ucp-rightcol-in .fa-users{
  background-position: -351px -201px;
}
.ucp-rightcol-in .fa-folder-open{
  background-position: -374px -201px;
}
.ucp-rightcol-in .fa-th-large{
  background-position: -395px -201px;
}

.ucp-rightcol-in .fa-comment{
  background-position: -418px -201px;
}
.ucp-rightcol-in .fa-gears{
  background-position: -440px -201px;
}
.ucp-rightcol-in .fa-check{
  background-position: -464px -201px;
}
.ucp-rightcol-in .fa-legal{
  background-position: -485px -201px;
}
.ucp-rightcol-in .fa-envelope{
background-position: -507px -201px;
}
.ucp-rightcol-in .fa-bars{
background-position: -528px -201px;
}
.ucp-rightcol-in .fa-send{
background-position: -122px -201px;
}
.ucp-rightcol-in .fa-mail-reply{
background-position: -549px -201px;
}
.ucp-rightcol-in .fa-clipboard{
background-position: -573px -201px;
}
.ucp-rightcol-in .fa-heart-o{
background-position: -595px -201px;
}
.ucp-rightcol-in .fa-trash-o{
background-position: -620px -201px;
}
.ucp-rightcol-in .fa-eye,.ucp-rightcol-in .alt2 .fa-gears{
background-position: -639px -201px;
}
.ucp-rightcol-in .fa-file{
background-position: -663px -201px;
}
.ucp-rightcol-in .fa-flag-o{
background-position: -686px -201px;
}
.ucp-rightcol-in .fa-bullhorn{
background-position: -708px -201px;
}
.ucp-rightcol-in .fa-clone{
background-position: -729px -201px;
}


/*=====================*/

.regstr-menu li.logn-icon i {
  background-position: -371px -5px;
  height: 30px;
  width: 30px;
}

.left-link>li .icofont-architecture-alt {
  background-position: -409px -5px;
  float: right;
}

.rsponsv_menu_button {
  height: 35px;
  width: 35px;
  background-position: -436px -3px;
}

.fx-menu .rsponsv_menu_button {
  background-position: -492px -35px;
}


/*=======================================================*/

.hd-menu li i {
  display: block;
  height: 40px;
}

.hd-menu li:nth-child(1) i {
  background-position: -67px 0;
}

.hd-menu li:nth-child(2) i {
  background-position: -105px 0;
}

.hd-menu li:nth-child(3) i {
  background-position: -143px 0;
}

.hd-menu li:nth-child(4) i {
  background-position: -257px 0;
}

.hd-menu li:nth-child(5) i {
  background-position: -219px 0;
}

.hd-menu li:nth-child(6) i {
  background-position: -181px 0;
}


/*=======================================================*/

.regstr-menu a .icofont-gear, .regstr-menu a .icofont-girl, .toggle-search .icofont-search-alt-1 {
  background-position: -392px -33px;
  display: block;
  width: 30px;
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
}

.regstr-menu a .icofont-girl {
  background-position: -425px -33px;
}

.toggle-search .icofont-search-alt-1 {
  background-position: -460px -33px;
}


/*--------------------------------*/

.user-nav-welcome li i {
  width: 18px;
  height: 15px;
}

.user-nav-welcome .icofont-girl {
  background-position: -324px -45px;
}

.user-nav-welcome .icofont-open-eye {
  background-position: -341px -45px;
}

.user-nav-welcome .icofont-ui-message,.user-nav-welcome .icofont-bullhorn {
  background-position: -359px -45px;
}



/*--------------------------------*/

.toggle-option i, .toggle-option u {
  background-position: -226px -31px;
  height: 40px;
  width: 30px;
}

.toggle-option .icofont-emo-heart-eyes {
  background-position: -260px -31px;
}


/*--------------------------------*/

.notifi-icons i {
  width: 100%;
  height: 100%;
}

.notifi-icons .icofont-heart-alt {
  background-position: -467px 7px;
}
.notifi-icons .icofont-q2 {
  background-position: -751px -194px;
}

.notifi-icons .icofont-envelope {
  background-position: -497px 7px;
}

.notifi-icons .icofont-envelope-open {
  background-position: -529px 7px;
}

.notifi-icons .fa-user-plus {
  background-position: -558px 7px;
}

.notifi-icons .icofont-image {
  background-position: -589px 7px;
}

.notifi-icons .icofont-star {
  background-position: -621px 7px;
}

.notifi-icons .icofont-ui-user {
  background-position: -652px 7px;
}


/*--------------------------------*/

.my-posts_it a i {}

.my-posts_it .icofont-pen-nib {
  background-position: -679px 4px;
}

.my-posts_it .icofont-comment {
  background-position: -718px 4px;
}

.my-posts_it .icofont-eye-alt {
  background-position: -761px 4px;
}


/*--------------------------------*/

.un-links a i {
  height: 14px;
  width: 15px;
}

.un-links a .icofont-ui-note {
  background-position: -68px -45px;
}

.un-links a .icofont-star-shape {
  background-position: -94px -45px;
}

.un-links a .icofont-lamp-light {
  background-position: -118px -45px;
}

.un-links a .icofont-animal-panda-alt {
  background-position: -144px -45px;
}

.un-links ul .icofont-girl {
  background-position: -166px -40px;
}

.un-links ul .icofont-flora {
  background-position: -200px -40px;
}

.un-links ul .fa-angle-left, .un-links ul .icofont-pencil-alt-5, .un-links ul .icofont-open-eye {
  background-position: -377px -48px;
}


/*--------------------------------*/

.nav-icon .icofont-ui-home {
  background-position: -288px -31px;
  width: 36px;
  height: 36px;
  line-height: 34px;
}

.option-panel .icofont-touch {
  background-position: -527px -38px;
}

div.hd-icon-animi .hd-icon-animi-toggle u, .forum_block-margin .forum_block-toggle u, .page-in-bgr-opcty .page-in-bgr-toggle u, .fm-icon-0 .fm-icon-toggle u, .fm-display-boxs .fm-table-toggle u {
  background-position: -550px -38px;
}

.thread-font-size i {
  width: 32px;
  height: 32px;
}

.thread-font-size .icofont-cocktail {
  background-position: 5px -64px;
}

.thread-font-size .icofont-apple {
  background-position: -29px -70px;
}

.thread-font-size .icofont-fast-food {
  background-position: -52px -70px;
}

.post-view-option .icofont-surface-tablet {
  background-position: -77px -69px;
  width: 40px;
}

.post-view-option .icofont-android-tablet {
  background-position: -115px -69px;
}

.icofont-mop {
  background-position: -143px -69px;
}

.opt-tabs-wrap .icofont-open-eye {
  background-position: -166px -70px;
}

.opt-tabs-wrap .icofont-sound-wave {
  background-position: -192px -70px;
}

.opt-tabs-wrap .icofont-monitor {
  background-position: -222px -70px;
}

.opt-tabs-wrap .icofont-table {
  background-position: -250px -70px;
}

.opt-tabs-wrap .icofont-justify-all {
  background-position: -278px -70px;
}

.opt-tabs-wrap .icofont-drag2 {
  background-position: -309px -70px;
}

.body-bgr-img i {
  height: 30px;
  width: 34px;
}

.body-bgr-img .icofont-woman-in-glasses {
  background-position: -342px -64px;
}

.body-bgr-img .icofont-butterfly-alt {
  background-position: -376px -64px;
}

.body-bgr-img .icofont-love {
  background-position: -411px -64px;
}

.body-bgr-img .icofont-woman-bird {
  background-position: -446px -64px;
}

.body-bgr-img .icofont-bow {
  background-position: -485px -64px;
}

.opt- .icofont-brush {
  background-position: -550px -64px;
}

.opt- .icofont-color-bucket {
  background-position: -577px -64px;
}

.opt- .icofont-color-picker {
  background-position: -607px -64px;
}

.opt- .icofont-font, .opt- .icofont-island-alt {
  height: 40px;
}

.opt- .icofont-font {
  background-position: -636px -53px;
}

.opt- .icofont-island-alt {
  background-position: -664px -58px;
}

.logout-link .icofont-ui-power {
  background-position: -578px -41px;
}

.log-out-pop .icofont-emo-worried {
  background-position: -602px -38px;
  width: 30px;
  height: 27px;
}

.log-out-pop .icofont-hand-drag1 {
  background-position: -633px -38px;
}

.un-links-toggle .fa-close {
  background-position: -665px -44px;
}

.icofont-animal-dolphin {
  background-position: -687px -41px;
}

.tcat .fa-plus {
  background-position: -717px -41px;height: 18px;
}

.sub-fm-list .icofont-bow {
  width: 18px;
  background-position: -526px -72px;
}

.icofont-rounded-up {
  background-position: -739px -32px;
}

.icofont-rounded-down {
  background-position: -771px -32px;
}

.mod-toggle .fa-angle-down, .sub-fm-list-wrap .fa-angle-down, .thrd-i-toggle .fa-angle-down, .thead .fa-angle-down {
  width: 12px;
  height: 12px;
  background-position: -698px -71px;
}

.r-padd a .icofont {
  width: 14px;
  height: 14px;
  background-position: -722px -72px;
}

.modd-in .icofont-girl {
  width: 16px;
  height: 16px;
  background-position: -746px -72px;
}

.foot-box .fa-angle-left, .left-link .icofont-ui-love, .left-link .icofont-unlocked, .left-link .icofont-ui-user-group {
  height: 12px;
  width: 12px;
  background-position: -377px -46px;
}

.left-link .icofont-ui-love, .left-link .icofont-unlocked {
  height: 24px;
  background-position: -377px -40px;
}

.left-link>li>a>.icofont-ui-user-group {
  background-position: -408px -10px;
  width: 24px;
  height: 14px;
}

.icofont-chart-histogram {
  background-position: -468px -106px;height: 17px;
}

.stat-table .icofont-ui-user-group {
  background-position: -405px -105px;
  width: 30px;
}

.stat-title .icofont-sun-alt {
  background-position: -440px -106px;
  height: 18px;
}

.forum-stats .icofont-girl {
  background-position: 9px -95px;
}

.forum-stats .icofont-woman-in-glasses {
  background-position: -40px -95px;
}

.forum-stats .icofont-ui-copy {
  background-position: -89px -95px;
}

.forum-stats .icofont-speech-comments {
  background-position: -138px -95px;
}

.forum-stats .icofont-judge {
  background-position: -188px -95px;
}

.foot-social a .fa-facebook {
  background-position: -242px -100px;
}

.foot-social a .fa-rss {
  background-position: -282px -100px;
}

.foot-social a .fa-twitter {
  background-position: -322px -100px;
}

.foot-social a .fa-google-plus {
  background-position: -362px -100px;
}

.th-count .icofont-paper {
  width: 29px;
  height: 26px;
  background-position: -501px -104px;
}

.po-count .fa-comments {
  width: 29px;
  height: 26px;
  background-position: -536px -104px;
}

.search-block input[type="submit"] {
  background-image: url(img/img_01.png);
  background-position: -581px -100px;
}

.icofont-light-bulb {
  background-position: -641px -105px;
}

.post-u-info .icofont-power {
  background-position: -664px -103px;
}
.icofont-invisible{
  background-position: -637px -198px;
}

/*--------------------------------*/

.i-box .fa {
  width: 9px;
  height: 9px;
  background-position: -380px -48px;
}
.thrd-stat_{
  padding-top: 3px;
}
.thrd-stat_ .icofont-open-eye {
  background-position: -694px -109px;
}

.thrd-stat_ i{
  height: 15px;
}
.thrd-stat_ .icofont-speech-comments {
  background-position: -720px -109px;
}

.vbmenu_control_ .fa-angle-down {
  background-position: -752px -108px;
  width: 14px;
  height: 14px;
}

.fa-star {
  background-position: -778px -108px;
  width: 14px !important;
  height: 14px !important;
}

#wbUnFav .icofont-heart {
  background-position: -776px -106px;
}

.post-block-head-bar i {
  width: 16px;
  height: 16px;
}

.post-block-head-bar .fa-file {
  background-position: -2px -140px;
}

.post-block-head-bar .icofont-penalty-card {
  background-position: -24px -140px;
}

.post-block-head-bar .icofont-warning {
  background-position: -46px -140px;
}

.post-block-head-bar .icofont-computer {
  background-position: -68px -140px;
}
#threadtools_menu i{
  height: 18px;width: 18px;
}
#threadtools_menu .fa-print{
  background-position: -95px -200px;
}
#threadtools_menu .fa-send{
  background-position: -121px -200px;
}
#threadtools_menu .fa-history{
  background-position: -144px -200px;
}
#threadtools_menu .fa-bar-chart{
  background-position: -169px -200px;
}
.butn i {}

.butn .icofont-comment {
  background-position: -91px -137px;
}

.butn .icofont-pen-alt-4, .butn .icofont-pen-alt-1 {
  background-position: -241px -139px;
}

.butn .icofont-star {
  background-position: -117px -138px;
}

.t-btn .icofont-ui-edit {
  background-position: -144px -138px;
}

.t-btn .icofont-quote-right, .quote-block-hd .fa-quote-right {
  background-position: -171px -137px;
}
.quote-block-hd .fa-quote-right {
  width: 17px;height: 17px;
}

.t-btn .icofont-quote-left {
  background-position: -198px -137px;
}

.t-btn .icofont-reply {
  background-position: -220px -139px;
}

.post-title .icofont-like {
  background-position: -312px -136px;
}

.user-info-in .icofont-butterfly {
  background-position: -337px -137px;
}

.user-info-in .icofont-award {
  background-position: -364px -136px;
}

.signature-block-in h6 u:before {
  display: none;
}

.signature-block-in h6 u {
  background-position: -393px -137px;
}

.pop-menu i {
  width: 14px;
  height: 14px;
}

.pop-menu .icofont-heart-alt {
  background-position: -453px -145px;
}

.pop-menu .icofont-ui-copy {
  background-position: -472px -145px;
}

.pop-menu .icofont-speech-comments {
  background-position: -490px -145px;
}

.pop-menu .icofont-diamond {
  background-position: -509px -145px;
}

.nav-last .fa-caret-left {
  background-position: -527px -141px;
  width: 12px;
  height: 15px;
}


/*--------------------------------*/

.thrd-dt i, .thrd-info i {
  width: 15px;
  height: 15px;
}

.thrd-dt .icofont-girl, .thrd-info .icofont-girl {
  background-position: -556px -140px;
}

.thrd-dt .icofont-ui-clock, .thrd-info .icofont-ui-clock {
  background-position: -575px -140px;
}

.thrd-info .fa-comments {
  background-position: -596px -140px;
}

.thrd-info .fa-eye {
  background-position: -615px -140px;
}

.thrd-info .icofont-comment {
  background-position: -634px -140px;
}

.thrd-info .icofont-time {
  background-position: -655px -140px;
}

.r-padd .icofont-time {
  background-position: -652px -142px;
  height: 12px;
}

.thrd-info .fa-angle-up {
  background-position: -773px -73px;
  margin: 0 auto;
  display: block;
}

.toggle-foot-links .icofont-curved-down {
  background-position: -672px -133px;
  margin: 0 auto;
  height: 30px;
  width: 70px;
}

.toggle-foot-links .icofont-curved-up {
  background-position: -730px -133px;
  margin: 0 auto;
  height: 30px;
  width: 70px;
}

.fa-tags {
  background-position: -1px -164px;
  width: 18px;
  height: 18px;
}

.fa-thumb-tack {
  background-position: -22px -164px;
  width: 18px;
  height: 18px;
}
#threadtools .fa-gears{
  background-position: -395px -38px;
}
#threadrating_current .fa-thumbs-up{
  background-position: -278px -164px;
}
.fm-small-stat .fa-clone{
  height: 14px;
  width: 14px;
  background-position: -49px -167px;
}
.fm-small-stat .fa-comments{
  height: 14px;
  width: 14px;
  background-position: -71px -167px;
}
.user_menu_button .fa-bars{
  height: 14px;
  width: 18px;
  background-position: -442px -13px;
}
.user_menu_button .fa-close{
  height: 23px;
  width: 18px;
  background-position: -500px -40px;
}
.notifi-icons li a i{
  line-height: 50px;
}
.icofont {
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.sub-fm-list i{
  height: 14px;
}
.login-btn .fa-user{
    background-position: -99px -160px;
    margin: 0 auto;
    display: block;
    height: 38px;
}
.register-btn .fa-user-plus{
  background-position: -144px -160px;
  margin: 0 auto;
  display: block;
  height: 38px;
}
.logbox-in .icofont-girl{
  background-position: -181px -157px;
  margin: 0 auto;
  display: block;
}
.logbox-in .icofont-ui-lock{
  background-position: -225px -156px;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 1024px) {
.logbox-in .icofont-girl{
  background-position: -184px -160px;
}
.logbox-in .icofont-ui-lock{
  background-position: -229px -160px;
}
}
.rgstr-tooltp .icofont-girl{
  background-position: -420px -140px;
}
/*---------------- editor ----------------*/

.edtor-icon i {
  width: 18px;
  height: 16px;
  background-image: url(img/editor-icon.png);
}

.edtor-icon .fa-language {
  background-position: 1px 0;
}

.edtor-icon .fa-font {
  background-position: -24px 0;
}

.edtor-icon .fa-cut {
  background-position: -55px 0;
}

.edtor-icon .fa-copy {
  background-position: -82px 0;
}

.edtor-icon .fa-paste {
  background-position: -109px 0;
}

.edtor-icon .fa-mail-reply {
  background-position: -137px 0;
}

.edtor-icon .fa-mail-forward {
  background-position: -164px 0;
}

.edtor-icon .fa-smile-o {
  background-position: -192px 0;
}

.edtor-icon .fa-gears {
  background-position: -221px 0;
}

.edtor-icon .fa-bold {
  background-position: -248px 0;
}

.edtor-icon .fa-italic {
  background-position: -277px 0;
}

.edtor-icon .fa-underline {
  background-position: -303px 0;
}

.edtor-icon .fa-align-right {
  background-position: -330px 0;
}

.edtor-icon .fa-align-center {
  background-position: -359px 0;
}

.edtor-icon .fa-align-left {
  background-position: -387px 0;
}

.edtor-icon .fa-list-ol {
  background-position: -415px 0;
}

.edtor-icon .fa-list {
  background-position: -441px 0;
}

.edtor-icon .fa-text-height {
  background-position: -470px 0;
}

.edtor-icon .fa-link {
  background-position: -497px 0;
}

.edtor-icon .fa-unlink {
  background-position: -525px 0;
}

.edtor-icon .fa-envelope {
  background-position: -553px 0;
}

.edtor-icon .fa-image {
  background-position: -581px 0;
}

.edtor-icon .fa-quote-right {
  background-position: -609px 0;
}

.edtor-icon .fa-hashtag {
  background-position: -637px 0;
}

.edtor-icon .fa-html5 {
  background-position: -666px 0;
}

.edtor-icon .fa-code {
  background-position: -693px 0;
}

.edtor-icon .fa-angle-double-up {
  background-position: -723px 0;
}

.edtor-icon .fa-angle-double-down {
  background-position: -751px 0;
}

.edtor-icon .fa-angle-double-up, .edtor-icon .fa-angle-double-down {
  width: 14px;
  height: 14px;
}


/*---------------- editor ----------------*/
.post-block-head-bar .col-sm-6{
  float: right;
}
.post-block-head-bar .col-sm-6+.col-sm-6{
  float: left;
}

/*--------------------------------*/
.user-info-toggle .icofont{
  height: 15px;
  margin: 0 auto;
}
.user-info-toggle .icofont-curved-down,.signature-toggle .icofont-curved-down{
  background-position: -340px -170px;
}
.user-info-toggle .icofont-curved-up{
  background-position: -368px -170px;
}
.signature-toggle .icofont-curved-down{
  height: 11px;
}
.signature-toggle .icofont-caret-up{
  background-position: -368px -170px;margin: 0 auto;height: 16px;
}
.signature-block-in h6 .icofont-girl{
    background-position: -420px -140px;height: 21px;
}
.quote-block-in:after {
  width: 50px;height: 50px;
  background-position: 0 -191px;
}
.post-butn .icofont-rounded-double-right{
  background-position: -260px -139px;
}
.post-butn .icofont-rounded-double-right{
  background-position: -260px -139px;
}
.post-butn .fa-send{
  background-position: -220px -139px;
}
.register-box p i{
  background-position: -375px -10px;
  height: 17px;
}
.reg-link .icofont-girl{
  background-position: -430px -40px;
  height: 21px;
}
.cancel-link .icofont-business-man{
  background-position: -57px -200px;
  height: 21px;
}
.cancel-link .icofont-bubble-right,.reg-link .icofont-bubble-left{
  display: none;
}
/*--------------------------------*/


/*--------------------------------*/
